.git
.gitignore
.vscode
.idea

.venv
venv
**/__pycache__
**/*.py[cod]

node_modules
frontend/node_modules
frontend/dist
frontend/.vite

backend/.local
backend/project
backend/work_dir
backend/__pycache__
backend/**/*.pyc
backend/.pytest_cache
backend/logs
backend/.env.dev
backend/mcmer_backend.egg-info

work_dir
backend/.env.prod

*.log
Thumbs.db
.DS_Store
